h3 {
    margin: 20px auto 50px;
}

input,
button {
    display: inline;
}

input{ 
    max-width: 320px;
}

@media only screen and (max-width: 500px) {
    input{ 
        width: auto;
    }
}

.addBtn {
    right: 20px;
    position: absolute;
}

.delete {
    width: 20px;
    height: 20px;
    text-indent: -2px;
    line-height: 9px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 10px;
}